.container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
}

.menu {
    background:#fba;
    width: 30%;
    float:left;
}

.content {
    background:#8ca;
    width: 70%;
    float:left;
}